    /*!
 * Hey! Funny seeing you here!
 * Wait, why are you looking at my CSS? Geez...
 */
    
    /*# Layout tweaks */

body {
        background: #eee;
    }
    
    .row {
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 10px;
        background: #f7f7f7;
    }
    
    .cta-img {
        /*# Nothing in here right now... */
}

    /*# Navagation tweaks */
    
    .navbar-inverse {
        background: #2E2F31;
        border: 0;
    }
    
    .dropdown-menu {
        background: #2E2F31;
    }
    
    .navbar-inverse .navbar-nav li a {
        color: #f7f7f7;
        font-size: 14px;
    }
    
    .dropdown-menu li a:hover {
        color: #2E2F31;
        background: #f7f7f7;
    }

    /*
.navbar-inverse .navbar-nav li a:hover {
    color: #2E2F31;
    background: #f7f7f7;
}
*/