body {
    background: #FFF8EE;
}

.navbar-default {
    background-color: #FFFFFF;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.16), 0 1px 9px rgba(0, 0, 0, 0.23);
}


/* The below finally allowed me to give my "logo" (brand) enough space in the nav bar.
    I may end up replacing it with actual text, but not now, not on this deadline! */

.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 15px;
}

.thumbnail {
    padding-bottom: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 4px 9px rgba(0, 0, 0, 0.23);
}


/*change all the below font and line stuff later */

.cardtitle {
    padding: 10px 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.social-links {
    padding: 15px;
}

.social-icon {
    max-width: 40px;
    margin-right: 5px;
}

.credits {
    padding: 15px;
}